In [41]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/902C2D72-E881-4838-87F2-28BA2F9902FC/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:110:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace(",","") for a in date]
date=[a.replace(".","") for a in date]
date

['Sep 02 2006',
 'Sep 09 2006',
 'Sep 16 2006',
 'Sep 23 2006',
 'Sep 30 2006',
 'Oct 14 2006',
 'Oct 21 2006',
 'Oct 28 2006',
 'Nov 04 2006',
 'Nov 11 2006',
 'Nov 18 2006']

In [42]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:110:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance=[a.strip() for a in attendance]
attendance

['19487',
 '10613',
 '53441',
 '27460',
 '57885',
 '9720',
 '11800',
 '18758',
 '5912',
 '4271',
 '5500']

In [43]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[114:357:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards

['156', '111', '146', '71', '227', '310', '103', '247', '49', '133', '95']

In [44]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[118:360:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards

['206', '230', '167', '181', '210', '169', '260', '105', '162', '152', '162']

In [45]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[126:360:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards

['105', '102', '77', '70', '98', '45', '119', '23', '115', '0', '126']

In [46]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[130:380:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards

['0', '0', '24', '0', '16', '4', '20', '13', '0', '17', '7']

In [47]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[414:650:22]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles

['63', '76', '63', '59', '54', '64', '77', '45', '88', '44', '70']

In [48]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[416:650:22]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd

['3', '38', '18', '25', '14', '15', '26', '28', '22', '27', '30']

In [49]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[417:650:22]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks

['0.0', '3.0', '1.0', '1.0', '1.0', '1.0', '3.0', '3.0', '1.0', '4.0', '2.0']

In [50]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[418:650:22]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd

['0', '23', '6', '7', '4', '8', '20', '16', '10', '23', '14']

In [51]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[698:900:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt

['2', '5', '2', '3', '4', '4', '6', '3', '6', '4', '1']

In [52]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt}
df2006=pd.DataFrame(list_of_dicts)
df2006.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt
0,Sep 02 2006,19487,156,206,105,0,63,3,0.0,0,2
1,Sep 09 2006,10613,111,230,102,0,76,38,3.0,23,5
2,Sep 16 2006,53441,146,167,77,24,63,18,1.0,6,2
3,Sep 23 2006,27460,71,181,70,0,59,25,1.0,7,3
4,Sep 30 2006,57885,227,210,98,16,54,14,1.0,4,4

In [53]:
#splitting date column into month, day, & year columns 
df2006[['month','day','year']]=df2006.date.str.split(expand=True)
df2006.drop('date',axis=1)
df2006.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,month,day,year
0,Sep 02 2006,19487,156,206,105,0,63,3,0.0,0,2,Sep,02,2006
1,Sep 09 2006,10613,111,230,102,0,76,38,3.0,23,5,Sep,09,2006
2,Sep 16 2006,53441,146,167,77,24,63,18,1.0,6,2,Sep,16,2006
3,Sep 23 2006,27460,71,181,70,0,59,25,1.0,7,3,Sep,23,2006
4,Sep 30 2006,57885,227,210,98,16,54,14,1.0,4,4,Sep,30,2006

In [54]:
#create a new date variable
#change month variable to a 2 digit string variable
df2006['month'] = df2006['month'].str.replace('Aug','08')
df2006['month'] = df2006['month'].str.replace('Sep','09')
df2006['month'] = df2006['month'].str.replace('Oct','10')
df2006['month'] = df2006['month'].str.replace('Nov','11')
df2006['month'] = df2006['month'].str.replace('Dec','12')
#merge month,day and year variables
df2006['date']=df2006['year']+ '-' +df2006['month']+ '-'+df2006['day']
#make date into a datetime variable
df2006['date']= pd.to_datetime(df2006['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2006=df2006.drop(['month','day'], axis=1)
#make year numeric
df2006['year']=pd.to_numeric(df2006['year'])
df2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             11 non-null     datetime64[ns]
 1   attendance       11 non-null     object
 2   TSUrushyards     11 non-null     object
 3   TSUreceiveyards  11 non-null     object
 4   TSUkreturnyards  11 non-null     object
 5   TSUpreturnyards  11 non-null     object
 6   TSUtackles       11 non-null     object
 7   TSUtackleyd      11 non-null     object
 8   TSUsacks         11 non-null     object
 9   TSUsackyd        11 non-null     object
 10  TSUpunt          11 non-null     object
 11  year             11 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 1.2+ KB