In [1]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/CA835442-6528-4937-854B-D964C9CC70B5/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:110:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace(",","") for a in date]
date=[a.replace(".","") for a in date]
#date=[a.replace("2 ","02 ") for a in date]
#date=[a.replace("9 ","09 ") for a in date]
date

['Sep 03 2011',
 'Sep 10 2011',
 'Sep 17 2011',
 'Sep 24 2011',
 'Oct 01 2011',
 'Oct 08 2011',
 'Oct 15 2011',
 'Oct 22 2011',
 'Nov 05 2011',
 'Nov 12 2011',
 'Nov 19 2011']

In [2]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:110:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance=[a.strip() for a in attendance]
attendance

['25209',
 '43532',
 '10031',
 '33487',
 '8614',
 '6234',
 '8676',
 '10800',
 '6774',
 '19537',
 '6137']

In [3]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[114:357:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards

['342', '78', '168', '188', '162', '258', '166', '65', '200', '253', '87']

In [4]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[118:360:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards

['170', '226', '207', '206', '304', '278', '232', '343', '118', '263', '262']

In [5]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[126:360:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards

['48', '146', '197', '97', '158', '15', '118', '112', '64', '46', '129']

In [6]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[130:383:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards

['0', '5', '17', '0', '0', '115', '5', '17', '0', '5', '16']

In [7]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[414:644:22]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles

['45', '64', '94', '88', '61', '54', '88', '80', '59', '53', '50']

In [8]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[416:646:22]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd

['41', '45', '32', '0', '20', '17', '38', '20', '23', '14', '18']

In [9]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[417:646:22]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks

['5.0', '3.0', '3.0', '0.0', '2.0', '1.0', '5.0', '3.0', '3.0', '1.0', '2.0']

In [10]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[418:646:22]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd

['30', '31', '21', '0', '10', '9', '32', '14', '17', '1', '10']

In [11]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[698:900:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt

['3', '6', '9', '8', '2', '2', '5', '4', '7', '5', '5']

In [12]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt}
df2011=pd.DataFrame(list_of_dicts)
df2011.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt
0,Sep 03 2011,25209,342,170,48,0,45,41,5.0,30,3
1,Sep 10 2011,43532,78,226,146,5,64,45,3.0,31,6
2,Sep 17 2011,10031,168,207,197,17,94,32,3.0,21,9
3,Sep 24 2011,33487,188,206,97,0,88,0,0.0,0,8
4,Oct 01 2011,8614,162,304,158,0,61,20,2.0,10,2

In [13]:
#splitting date column into month, day, & year columns 
df2011[['month','day','year']]=df2011.date.str.split(expand=True)
df2011.drop('date',axis=1)
df2011.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,month,day,year
0,Sep 03 2011,25209,342,170,48,0,45,41,5.0,30,3,Sep,03,2011
1,Sep 10 2011,43532,78,226,146,5,64,45,3.0,31,6,Sep,10,2011
2,Sep 17 2011,10031,168,207,197,17,94,32,3.0,21,9,Sep,17,2011
3,Sep 24 2011,33487,188,206,97,0,88,0,0.0,0,8,Sep,24,2011
4,Oct 01 2011,8614,162,304,158,0,61,20,2.0,10,2,Oct,01,2011

In [14]:
#create a new date variable
#change month variable to a 2 digit string variable
df2011['month'] = df2011['month'].str.replace('Aug','08')
df2011['month'] = df2011['month'].str.replace('Sep','09')
df2011['month'] = df2011['month'].str.replace('Oct','10')
df2011['month'] = df2011['month'].str.replace('Nov','11')
df2011['month'] = df2011['month'].str.replace('Dec','12')
#merge month,day and year variables
df2011['date']=df2011['year']+ '-' +df2011['month']+ '-'+df2011['day']
#make date into a datetime variable
df2011['date']= pd.to_datetime(df2011['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2011=df2011.drop(['month','day'], axis=1)
#make year numeric
df2011['year']=pd.to_numeric(df2011['year'])
df2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             11 non-null     datetime64[ns]
 1   attendance       11 non-null     object
 2   TSUrushyards     11 non-null     object
 3   TSUreceiveyards  11 non-null     object
 4   TSUkreturnyards  11 non-null     object
 5   TSUpreturnyards  11 non-null     object
 6   TSUtackles       11 non-null     object
 7   TSUtackleyd      11 non-null     object
 8   TSUsacks         11 non-null     object
 9   TSUsackyd        11 non-null     object
 10  TSUpunt          11 non-null     object
 11  year             11 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 1.2+ KB