In [89]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/A5FB3AA1-8151-496A-A022-754FE722F59E/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:120:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace('Sep. 6, 2003','Sep 06 2003') for a in date]
date=[a.replace(",","") for a in date]
date

['Aug 30 2003',
 'Sep 06 2003',
 'Sep 13 2003',
 'Sep 20 2003',
 'Sep 27 2003',
 'Oct 11 2003',
 'Oct 18 2003',
 'Oct 25 2003',
 'Nov 01 2003',
 'Nov 08 2003',
 'Nov 15 2003',
 'Nov 22 2003']

In [2]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:120:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance

[' 18124',
 ' 18085',
 ' 52603',
 ' 70185',
 '  8434',
 '  8127',
 '  8023',
 ' 10360',
 ' 25037',
 '  5375',
 '  3875',
 '  2814']

In [3]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[124:380:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards

['113',
 '141',
 '209',
 '153',
 '142',
 '182',
 '47',
 '132',
 '223',
 '149',
 '144',
 '191']

In [4]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[128:400:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards

['365',
 '146',
 '132',
 '138',
 '285',
 '297',
 '175',
 '271',
 '184',
 '196',
 '371',
 '195']

In [5]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[136:400:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards

['69', '147', '138', '86', '11', '33', '90', '50', '8', '139', '112', '63']

In [6]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[140:400:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards

['88', '8', '107', '2', '29', '52', '-17', '45', '9', '18', '0', '15']

In [7]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[447:700:22]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles

['69', '68', '84', '50', '76', '74', '79', '83', '65', '65', '75', '67']

In [8]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[449:700:22]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd

['33', '22', '26', '22', '46', '44', '9', '34', '23', '23', '32', '37']

In [9]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[450:700:22]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks

['3.0',
 '0.0',
 '1.0',
 '0.0',
 '4.0',
 '4.0',
 '1.0',
 '2.0',
 '2.0',
 '2.0',
 '4.0',
 '5.0']

In [10]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[451:700:22]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd

['21', '0', '4', '0', '22', '30', '9', '24', '12', '14', '20', '28']

In [11]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[753:969:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt

['5', '7', '5', '6', '3', '2', '6', '8', '5', '5', '10', '7']

In [12]:
#get opponent rushing yards
OPPrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1020:1280:23]
OPPrushyards=[a.replace("\xa0","") for a in OPPrushyards]
OPPrushyards

['54', '272', '51', '88', '55', '82', '278', '91', '112', '291', '174', '46']

In [13]:
#get opponent receiving yards
OPPreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1024:1280:23]
OPPreceiveyards=[a.replace("\xa0","") for a in OPPreceiveyards]
OPPreceiveyards

['224',
 '133',
 '327',
 '83',
 '170',
 '30',
 '132',
 '263',
 '161',
 '264',
 '278',
 '181']

In [14]:
#get opponent kick return yards
OPPkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1032:1303:23]
OPPkreturnyards=[a.replace("\xa0","") for a in OPPkreturnyards]
OPPkreturnyards

['114', '41', '167', '36', '98', '73', '30', '117', '150', '85', '167', '80']

In [15]:
#get opponent punt return yards
OPPpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1036:1303:23]
OPPpreturnyards=[a.replace("\xa0","") for a in OPPpreturnyards]
OPPpreturnyards

['22', '8', '24', '19', '0', '0', '50', '2', '0', '5', '59', '7']

In [16]:
#get opponent total tackles
OPPtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1343:1588:22]
OPPtackles=[a.replace("\xa0","") for a in OPPtackles]
OPPtackles

['47', '61', '55', '70', '61', '105', '57', '65', '65', '68', '79', '62']

In [17]:
#get opponent tackle yards
OPPtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1345:1588:22]
OPPtackleyd=[a.replace("\xa0","") for a in OPPtackleyd]
OPPtackleyd

['16', '51', '25', '21', '73', '34', '39', '60', '27', '33', '45', '46']

In [18]:
#get opponent sacks
OPPsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1347:1600:22]
OPPsacks=[a.replace("\xa0","") for a in OPPsacks]
OPPsacks

['0', '36', '2', '6', '42', '17', '31', '30', '7', '5', '28', '9']

In [19]:
#get opponent sack yards
OPPsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1348:1600:22]
OPPsackyd=[a.replace("\xa0","") for a in OPPsackyd]
OPPsackyd

['1', '0', '1', '1', '0', '1', '0', '2', '0', '5', '2', '3']

In [20]:
#opponent punts
OPPpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1649:1860:19]
OPPpunt=[a.replace("\xa0","") for a in OPPpunt]
OPPpunt

['6', '6', '3', '5', '9', '7', '3', '6', '5', '3', '8', '11']

In [54]:
#1st downs
firstdowns=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1915:2095:15]
firstdowns=[a.replace("\xa0","") for a in firstdowns]
firstdowns=[a.replace("18/8","18/08") for a in firstdowns]
firstdowns=[a.replace("24/6","24/06") for a in firstdowns]
firstdowns=[a.replace("/"," ") for a in firstdowns]
firstdowns

['15 17',
 '19 15',
 '16 18',
 '18 08',
 '20 11',
 '24 06',
 '13 20',
 '18 21',
 '19 16',
 '24 24',
 '24 20',
 '17 15']

In [60]:
#turnovers
turnovers=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1927:2095:15]
turnovers=[a.replace("\xa0","") for a in turnovers]
turnovers=[a.replace("/"," ") for a in turnovers]
turnovers

['2 4',
 '3 2',
 '1 3',
 '2 3',
 '4 1',
 '5 2',
 '2 2',
 '2 3',
 '2 2',
 '3 3',
 '1 1',
 '1 1']

In [23]:
#TSU 3rd down conversions
TSUthirddownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2110:2278:14]
TSUthirddownconv=[a.replace("\xa0","") for a in TSUthirddownconv]
TSUthirddownconv=[a.replace(" /","") for a in TSUthirddownconv]
TSUthirddownconv

['4-13',
 '5-16',
 '4-12',
 '6-19',
 '3-10',
 '9-15',
 '4-14',
 '1-13',
 '5-13',
 '8-16',
 '7-22',
 '2-13']

In [24]:
#opponent 3rd down conversions
OPPthirddownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2111:2279:14]
OPPthirddownconv=[a.replace("\xa0","") for a in OPPthirddownconv]
OPPthirddownconv

['1-14',
 '9-19',
 '7-19',
 '3-12',
 '7-22',
 '2-14',
 '4-11',
 '5-14',
 '7-14',
 '4-12',
 '1-13',
 '4-19']

In [25]:
#TSU 4th down conversions
TSUfourthdownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2112:2279:14]
TSUfourthdownconv=[a.replace("\xa0","") for a in TSUfourthdownconv]
TSUfourthdownconv=[a.replace(" /","") for a in TSUfourthdownconv]
TSUfourthdownconv

['0-1',
 '0-3',
 '3-3',
 '1-3',
 '1-2',
 '0-3',
 '0-1',
 '1-2',
 '1-1',
 '0-0',
 '2-4',
 '1-3']

In [26]:
#opponent 4th down conversions
OPPfourthdownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2113:2279:14]
OPPfourthdownconv=[a.replace("\xa0","") for a in OPPfourthdownconv]
OPPfourthdownconv=[a.replace(" /","") for a in OPPfourthdownconv]
OPPfourthdownconv

['2-3',
 '0-3',
 '2-6',
 '0-3',
 '1-4',
 '2-3',
 '1-2',
 '0-0',
 '0-2',
 '0-1',
 '0-0',
 '2-3']

In [27]:
#possession time
possesstime=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2114:2279:14]
possesstime=[a.replace("\xa0","") for a in possesstime]
possesstime=[a.replace(" /","") for a in possesstime]
possesstime

['22:55 37:05',
 '28:06 31:54',
 '27:17 32:43',
 '36:39 23:21',
 '26:49 33:11',
 '30:42 29:18',
 '26:40 33:20',
 '25:50 34:10',
 '30:01 29:59',
 '28:01 31:59',
 '29:56 30:04',
 '28:19 31:41']

In [74]:
#TSU penalty number and yards
TSUpenalty=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2121:2279:14]
TSUpenalty=[a.replace("\xa0","") for a in TSUpenalty]
TSUpenalty=[a.replace('15-92 /','15-092') for a in TSUpenalty]
TSUpenalty=[a.replace('8-50 /','08-050') for a in TSUpenalty]
TSUpenalty=[a.replace('9-49 /','09-049') for a in TSUpenalty]
TSUpenalty=[a.replace('8-65 /','08-065') for a in TSUpenalty]
TSUpenalty=[a.replace('9-79 /','09-079') for a in TSUpenalty]
TSUpenalty=[a.replace('8-69 /','08-069') for a in TSUpenalty]
TSUpenalty=[a.replace('8-59 /','08-059') for a in TSUpenalty]
TSUpenalty=[a.replace('9-53 /', '09-053') for a in TSUpenalty]
TSUpenalty=[a.replace('5-50 /','05-050') for a in TSUpenalty]
TSUpenalty=[a.replace(' /','') for a in TSUpenalty]
TSUpenalty=[a.replace('-',' ') for a in TSUpenalty]
TSUpenalty

['15 092',
 '08 050',
 '09 049',
 '08 065',
 '09 079',
 '08 069',
 '08 059',
 '09 053',
 '15 150',
 '14 116',
 '05 050',
 '14 119']

In [79]:
#opponent penalty number and yards
OPPpenalty=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[2122:2279:14]
OPPpenalty=[a.replace("\xa0","") for a in OPPpenalty]
OPPpenalty=[a.replace('8-60','08-060') for a in OPPpenalty]
OPPpenalty=[a.replace('13-87','13-087') for a in OPPpenalty]
OPPpenalty=[a.replace('7-50','07-050') for a in OPPpenalty]
OPPpenalty=[a.replace('8-118','08-118') for a in OPPpenalty]
OPPpenalty=[a.replace('8-49','08-049') for a in OPPpenalty]
OPPpenalty=[a.replace('7-62','07-062') for a in OPPpenalty]
OPPpenalty=[a.replace('3-40','03-040') for a in OPPpenalty]
OPPpenalty=[a.replace('8-61','08-061') for a in OPPpenalty]
OPPpenalty=[a.replace('8-60','08-060') for a in OPPpenalty]
OPPpenalty=[a.replace('9-60','09-060') for a in OPPpenalty]
OPPpenalty=[a.replace('5-64','05-064') for a in OPPpenalty]
OPPpenalty=[a.replace("-"," ") for a in OPPpenalty]
OPPpenalty

['08 060',
 '13 087',
 '07 050',
 '08 118',
 '14 115',
 '08 049',
 '07 062',
 '03 040',
 '08 061',
 '14 124',
 '09 060',
 '05 064']

In [119]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt,
     'OPPrushyards':OPPrushyards,
     'OPPreceiveyards':OPPreceiveyards,
     'OPPkreturnyards':OPPkreturnyards,
     'OPPpreturnyards':OPPpreturnyards,
     'OPPtackles':OPPtackles,
     'OPPtackleyd':OPPtackleyd,
     'OPPsacks':OPPsacks,
     'OPPsackyd':OPPsackyd,
     'OPPpunt':OPPpunt,
     'firstdowns':firstdowns,
     'turnovers':turnovers,
     'TSUthirddownconv':TSUthirddownconv,
     'OPPthirddownconv':OPPthirddownconv,
     'TSUfourthdownconv':TSUfourthdownconv,
     'OPPfourthdownconv':OPPfourthdownconv,
     'possesstime':possesstime,
     'TSUpenalty':TSUpenalty,
     'OPPpenalty':OPPpenalty}
df2003=pd.DataFrame(list_of_dicts)
df2003.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,...,OPPpunt,firstdowns,turnovers,TSUthirddownconv,OPPthirddownconv,TSUfourthdownconv,OPPfourthdownconv,possesstime,TSUpenalty,OPPpenalty
0,Aug 30 2003,18124,113,365,69,88,69,33,3.0,21,...,6,15 17,2 4,4-13,1-14,0-1,2-3,22:55 37:05,15 092,08 060
1,Sep 06 2003,18085,141,146,147,8,68,22,0.0,0,...,6,19 15,3 2,5-16,9-19,0-3,0-3,28:06 31:54,08 050,13 087
2,Sep 13 2003,52603,209,132,138,107,84,26,1.0,4,...,3,16 18,1 3,4-12,7-19,3-3,2-6,27:17 32:43,09 049,07 050
3,Sep 20 2003,70185,153,138,86,2,50,22,0.0,0,...,5,18 08,2 3,6-19,3-12,1-3,0-3,36:39 23:21,08 065,08 118
4,Sep 27 2003,8434,142,285,11,29,76,46,4.0,22,...,9,20 11,4 1,3-10,7-22,1-2,1-4,26:49 33:11,09 079,14 115

In [120]:
#splitting firstdowns category into firstdowns for TSU and opponent
df2003[['TSUfirstdowns','OPPfirstdowns']]=df2003.firstdowns.str.split(expand=True)
#splitting turnovers into TSUturnovers and OPPturnovers
df2003[['TSUturnovers','OPPturnovers']]=df2003.turnovers.str.split(expand=True)
#splitting possesstime into TSUpossesstime and OPPpossesstime
df2003[['TSUpossesstime','OPPposeesstime']]=df2003.possesstime.str.split(expand=True)
#splitting TSUpenalty into TSUpenaltycount and TSUpenaltyyards
df2003[['TSUpenaltycount','TSUpenaltyyd']]=df2003.TSUpenalty.str.split(expand=True)
#splitting OPPpenalty into OPPpenaltycount and OPPpenaltyyards
df2003[['OPPpenaltycount','OPPpenaltyyd']]=df2003.OPPpenalty.str.split(expand=True)
#splitting date column into month, day, & year columns 
df2003[['month','day','year']]=df2003.date.str.split(expand=True)
df2003.drop('date',axis=1)
df2003.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,...,OPPturnovers,TSUpossesstime,OPPposeesstime,TSUpenaltycount,TSUpenaltyyd,OPPpenaltycount,OPPpenaltyyd,month,day,year
0,Aug 30 2003,18124,113,365,69,88,69,33,3.0,21,...,4,22:55,37:05,15,092,08,060,Aug,30,2003
1,Sep 06 2003,18085,141,146,147,8,68,22,0.0,0,...,2,28:06,31:54,08,050,13,087,Sep,06,2003
2,Sep 13 2003,52603,209,132,138,107,84,26,1.0,4,...,3,27:17,32:43,09,049,07,050,Sep,13,2003
3,Sep 20 2003,70185,153,138,86,2,50,22,0.0,0,...,3,36:39,23:21,08,065,08,118,Sep,20,2003
4,Sep 27 2003,8434,142,285,11,29,76,46,4.0,22,...,1,26:49,33:11,09,079,14,115,Sep,27,2003

In [121]:
#create a new date variable
#change month variable to a 2 digit string variable
df2003['month'] = df2003['month'].str.replace('Aug','08')
df2003['month'] = df2003['month'].str.replace('Sep','09')
df2003['month'] = df2003['month'].str.replace('Oct','10')
df2003['month'] = df2003['month'].str.replace('Nov','11')
df2003['month'] = df2003['month'].str.replace('Dec','12')
#merge month,day and year variables
df2003['date']=df2003['year']+ '-' +df2003['month']+ '-'+df2003['day']
#make date into a datetime variable
df2003['date']= pd.to_datetime(df2003['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2003=df2003.drop(['month','day'], axis=1)
#make year numeric
df2003['year']=pd.to_numeric(df2003['year'])
df2003.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               12 non-null     datetime64[ns]
 1   attendance         12 non-null     object
 2   TSUrushyards       12 non-null     object
 3   TSUreceiveyards    12 non-null     object
 4   TSUkreturnyards    12 non-null     object
 5   TSUpreturnyards    12 non-null     object
 6   TSUtackles         12 non-null     object
 7   TSUtackleyd        12 non-null     object
 8   TSUsacks           12 non-null     object
 9   TSUsackyd          12 non-null     object
 10  TSUpunt            12 non-null     object
 11  OPPrushyards       12 non-null     object
 12  OPPreceiveyards    12 non-null     object
 13  OPPkreturnyards    12 non-null     object
 14  OPPpreturnyards    12 non-null     object
 15  OPPtackles         12 non-null     object
 16  OPPtackleyd        12 non-null     object
 17  OPPsacks           12 non-null     object
 18  OPPsackyd          12 non-null     object
 19  OPPpunt            12 non-null     object
 20  firstdowns         12 non-null     object
 21  turnovers          12 non-null     object
 22  TSUthirddownconv   12 non-null     object
 23  OPPthirddownconv   12 non-null     object
 24  TSUfourthdownconv  12 non-null     object
 25  OPPfourthdownconv  12 non-null     object
 26  possesstime        12 non-null     object
 27  TSUpenalty         12 non-null     object
 28  OPPpenalty         12 non-null     object
 29  TSUfirstdowns      12 non-null     object
 30  OPPfirstdowns      12 non-null     object
 31  TSUturnovers       12 non-null     object
 32  OPPturnovers       12 non-null     object
 33  TSUpossesstime     12 non-null     object
 34  OPPposeesstime     12 non-null     object
 35  TSUpenaltycount    12 non-null     object
 36  TSUpenaltyyd       12 non-null     object
 37  OPPpenaltycount    12 non-null     object
 38  OPPpenaltyyd       12 non-null     object
 39  year               12 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(38)
memory usage: 3.9+ KB