In [1]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/902C2D72-E881-4838-87F2-28BA2F9902FC/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:110:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace(",","") for a in date]
date=[a.replace(".","") for a in date]
date

['Sep 02 2006',
 'Sep 09 2006',
 'Sep 16 2006',
 'Sep 23 2006',
 'Sep 30 2006',
 'Oct 14 2006',
 'Oct 21 2006',
 'Oct 28 2006',
 'Nov 04 2006',
 'Nov 11 2006',
 'Nov 18 2006']

In [2]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:110:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance=[a.strip() for a in attendance]
attendance

['19487',
 '10613',
 '53441',
 '27460',
 '57885',
 '9720',
 '11800',
 '18758',
 '5912',
 '4271',
 '5500']

In [3]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[114:357:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards

['156', '111', '146', '71', '227', '310', '103', '247', '49', '133', '95']

In [4]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[118:360:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards

['206', '230', '167', '181', '210', '169', '260', '105', '162', '152', '162']

In [5]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[126:360:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards

['105', '102', '77', '70', '98', '45', '119', '23', '115', '0', '126']

In [6]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[130:380:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards

['0', '0', '24', '0', '16', '4', '20', '13', '0', '17', '7']

In [7]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[414:650:22]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles

['63', '76', '63', '59', '54', '64', '77', '45', '88', '44', '70']

In [8]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[416:650:22]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd

['3', '38', '18', '25', '14', '15', '26', '28', '22', '27', '30']

In [9]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[417:650:22]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks

['0.0', '3.0', '1.0', '1.0', '1.0', '1.0', '3.0', '3.0', '1.0', '4.0', '2.0']

In [10]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[418:650:22]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd

['0', '23', '6', '7', '4', '8', '20', '16', '10', '23', '14']

In [11]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[698:900:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt

['2', '5', '2', '3', '4', '4', '6', '3', '6', '4', '1']

In [12]:
#get opponent rushing yards
OPPrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[946:1183:23]
OPPrushyards=[a.replace("\xa0","") for a in OPPrushyards]
OPPrushyards

['257', '115', '167', '179', '138', '88', '132', '67', '171', '68', '123']

In [13]:
#get opponent receiving yards
OPPreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[950:1200:23]
OPPreceiveyards=[a.replace("\xa0","") for a in OPPreceiveyards]
OPPreceiveyards

['136', '193', '106', '129', '218', '305', '261', '123', '252', '65', '268']

In [14]:
#get opponent kick return yards
OPPkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[958:1200:23]
OPPkreturnyards=[a.replace("\xa0","") for a in OPPkreturnyards]
OPPkreturnyards

['53', '135', '26', '42', '61', '89', '142', '46', '15', '68', '2']

In [15]:
#get opponent punt return yards
OPPpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[962:1200:23]
OPPpreturnyards=[a.replace("\xa0","") for a in OPPpreturnyards]
OPPpreturnyards

['2', '5', '32', '11', '29', '17', '27', '9', '-1', '3', '0']

In [16]:
#get opponent total tackles
OPPtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1246:1480:22]
OPPtackles=[a.replace("\xa0","") for a in OPPtackles]
OPPtackles

['59', '50', '66', '60', '64', '55', '63', '64', '67', '62', '60']

In [17]:
#get opponent tackle yards
OPPtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1248:1488:22]
OPPtackleyd=[a.replace("\xa0","") for a in OPPtackleyd]
OPPtackleyd

['21', '49', '18', '36', '26', '14', '23', '20', '25', '30', '17']

In [18]:
#get opponent sacks
OPPsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1249:1488:22]
OPPsacks=[a.replace("\xa0","") for a in OPPsacks]
OPPsacks

['2.0', '3.0', '2.0', '3.0', '2.0', '0.0', '1.0', '2.0', '1.0', '3.0', '1.0']

In [19]:
#get opponent sack yards
OPPsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1250:1488:22]
OPPsackyd=[a.replace("\xa0","") for a in OPPsackyd]
OPPsackyd

['14', '39', '13', '29', '17', '0', '8', '13', '8', '15', '7']

In [20]:
#opponent punts
OPPpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1530:1739:19]
OPPpunt=[a.replace("\xa0","") for a in OPPpunt]
OPPpunt

['2', '2', '3', '2', '3', '4', '6', '5', '4', '5', '3']

In [34]:
#1st downs
firstdowns=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1777:1930:15]
firstdowns=[a.replace("\xa0","") for a in firstdowns]
firstdowns=[a.replace("/"," ") for a in firstdowns]
firstdowns=[a.replace('9/25','09 25') for a in firstdowns] 
firstdowns=[a.replace('17/9','17 09') for a in firstdowns] 
firstdowns

['24 21',
 '10 20',
 '15 20',
 '14 17',
 '22 15',
 '19 23',
 '16 17',
 '21 11',
 '9 25',
 '17 9',
 '15 19']

In [27]:
#turnovers
turnovers=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1789:1945:15]
turnovers=[a.replace("\xa0","") for a in turnovers]
turnovers=[a.replace("/"," ") for a in turnovers]
turnovers

['2 1', '2 5', '1 1', '4 2', '3 1', '1 1', '1 3', '1 1', '4 2', '0 3', '4 0']

In [28]:
#TSU 3rd down conversions
TSUthirddownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1957:2100:14]
TSUthirddownconv=[a.replace("\xa0","") for a in TSUthirddownconv]
TSUthirddownconv=[a.replace(" /","") for a in TSUthirddownconv]
TSUthirddownconv

['7-11',
 '5-13',
 '7-11',
 '4-10',
 '3-11',
 '7-12',
 '2-10',
 '7-13',
 '3-13',
 '9-15',
 '6-12']

In [29]:
#opponent 3rd down conversions
OPPthirddownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1958:2100:14]
OPPthirddownconv=[a.replace("\xa0","") for a in OPPthirddownconv]
OPPthirddownconv

['10-13',
 '6-12',
 '3-9',
 '4-10',
 '5-14',
 '10-17',
 '8-17',
 '6-14',
 '8-15',
 '2-9',
 '7-15']

In [30]:
#TSU 4th down conversions
TSUfourthdownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1959:2100:14]
TSUfourthdownconv=[a.replace("\xa0","") for a in TSUfourthdownconv]
TSUfourthdownconv=[a.replace(" /","") for a in TSUfourthdownconv]
TSUfourthdownconv

['0-0', '0-1', '0-1', '0-1', '1-3', '0-0', '0-0', '1-2', '0-1', '1-1', '0-3']

In [31]:
#opponent 4th down conversions
OPPfourthdownconv=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1960:2106:14]
OPPfourthdownconv=[a.replace("\xa0","") for a in OPPfourthdownconv]
OPPfourthdownconv=[a.replace(" /","") for a in OPPfourthdownconv]
OPPfourthdownconv

['0-0', '1-4', '1-1', '0-1', '0-0', '1-3', '2-2', '1-2', '1-1', '0-0', '1-1']

In [32]:
#possession time
possesstime=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1961:2106:14]
possesstime=[a.replace("\xa0","") for a in possesstime]
possesstime=[a.replace(" /","") for a in possesstime]
possesstime

['31:01 28:59',
 '27:51 32:09',
 '45:31 44:29',
 '31:21 28:39',
 '30:44 59:16',
 '29:45 30:15',
 '26:29 33:31',
 '33:25 24:58',
 '23:03 36:57',
 '35:24 24:36',
 '25:41 34:19']

In [35]:
#TSU penalty number and yards
TSUpenalty=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1968:2122:14]
TSUpenalty=[a.replace("\xa0","") for a in TSUpenalty]
#TSUpenalty=[a.replace('10-63 /','10 063') for a in TSUpenalty]
#TSUpenalty=[a.replace('5-57 /','05 057') for a in TSUpenalty]
#TSUpenalty=[a.replace('6-51 /' ,'06 051') for a in TSUpenalty]
#TSUpenalty=[a.replace('7-49 /','07 049') for a in TSUpenalty]
#TSUpenalty=[a.replace('13-101 /','13 101') for a in TSUpenalty]
#TSUpenalty=[a.replace('6-54 /','06 054') for a in TSUpenalty]
#TSUpenalty=[a.replace('6-60 /','06 060') for a in TSUpenalty]
#TSUpenalty=[a.replace('7-48 /','07 048') for a in TSUpenalty]
#TSUpenalty=[a.replace('9-57 /','09 057') for a in TSUpenalty]
#TSUpenalty=[a.replace('11-99 /','11 099') for a in TSUpenalty]
#TSUpenalty=[a.replace('4-30 /','04 030') for a in TSUpenalty]
TSUpenalty=[a.replace('9-75 /','09 075') for a in TSUpenalty]
TSUpenalty=[a.replace('13-93 /', '13 093') for a in TSUpenalty]
TSUpenalty=[a.replace('7-63 /','07 063') for a in TSUpenalty]
TSUpenalty= [a.replace('7-58 /','07 058') for a in TSUpenalty]
TSUpenalty=[a.replace('6-51 /','06 051') for a in TSUpenalty]
TSUpenalty=[ a.replace('14-109 /','14 109') for a in TSUpenalty]
TSUpenalty=[a.replace( '7-40 /','07 040') for a in TSUpenalty]
TSUpenalty=[a.replace( '4-25 /','04 025') for a in TSUpenalty]
TSUpenalty= [a.replace('9-75 /','07 075') for a in TSUpenalty]
TSUpenalty=[a.replace( '7-45 /','07 045') for a in TSUpenalty]
TSUpenalty=[a.replace( '11-64 /', '11 064') for a in TSUpenalty]
TSUpenalty

['09 075',
 '13 093',
 '07 063',
 '07 058',
 '06 051',
 '14 109',
 '07 040',
 '04 025',
 '09 075',
 '07 045',
 '11 064']

In [37]:
#opponent penalty number and yards
OPPpenalty=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1969:2122:14]
OPPpenalty=[a.replace("\xa0","") for a in OPPpenalty]
OPPpenalty=[a.replace('7-72','07 072') for a in OPPpenalty]
OPPpenalty=[a.replace('3-15','03 015') for a in OPPpenalty]
OPPpenalty=[a.replace('5-58','05 058') for a in OPPpenalty]
OPPpenalty=[a.replace('1-5','01 005') for a in OPPpenalty]
OPPpenalty=[a.replace('8-87','08 087') for a in OPPpenalty]
OPPpenalty=[a.replace( '3-15','03 015') for a in OPPpenalty]
OPPpenalty=[a.replace( '6-54','06 054') for a in OPPpenalty]
OPPpenalty=[a.replace('5-40','05 040') for a in OPPpenalty]
OPPpenalty=[a.replace('7-80','07 080') for a in OPPpenalty]
OPPpenalty=[a.replace('5-44','05 044') for a in OPPpenalty]
OPPpenalty=[a.replace('11-114','11 114') for a in OPPpenalty]
OPPpenalty

['07 072',
 '03 015',
 '05 058',
 '01 005',
 '08 087',
 '03 015',
 '06 054',
 '05 040',
 '07 080',
 '05 044',
 '11 114']

In [38]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt,
     'OPPrushyards':OPPrushyards,
     'OPPreceiveyards':OPPreceiveyards,
     'OPPkreturnyards':OPPkreturnyards,
     'OPPpreturnyards':OPPpreturnyards,
     'OPPtackles':OPPtackles,
     'OPPtackleyd':OPPtackleyd,
     'OPPsacks':OPPsacks,
     'OPPsackyd':OPPsackyd,
     'OPPpunt':OPPpunt,
     'firstdowns':firstdowns,
     'turnovers':turnovers,
     'TSUthirddownconv':TSUthirddownconv,
     'OPPthirddownconv':OPPthirddownconv,
     'TSUfourthdownconv':TSUfourthdownconv,
     'OPPfourthdownconv':OPPfourthdownconv,
     'possesstime':possesstime,
     'TSUpenalty':TSUpenalty,
     'OPPpenalty':OPPpenalty}
df2006=pd.DataFrame(list_of_dicts)
df2006.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,...,OPPpunt,firstdowns,turnovers,TSUthirddownconv,OPPthirddownconv,TSUfourthdownconv,OPPfourthdownconv,possesstime,TSUpenalty,OPPpenalty
0,Sep 02 2006,19487,156,206,105,0,63,3,0.0,0,...,2,24 21,2 1,7-11,10-13,0-0,0-0,31:01 28:59,09 075,07 072
1,Sep 09 2006,10613,111,230,102,0,76,38,3.0,23,...,2,10 20,2 5,5-13,6-12,0-1,1-4,27:51 32:09,13 093,03 015
2,Sep 16 2006,53441,146,167,77,24,63,18,1.0,6,...,3,15 20,1 1,7-11,3-9,0-1,1-1,45:31 44:29,07 063,05 058
3,Sep 23 2006,27460,71,181,70,0,59,25,1.0,7,...,2,14 17,4 2,4-10,4-10,0-1,0-1,31:21 28:39,07 058,01 005
4,Sep 30 2006,57885,227,210,98,16,54,14,1.0,4,...,3,22 15,3 1,3-11,5-14,1-3,0-0,30:44 59:16,06 051,08 087

In [39]:
#splitting firstdowns category into firstdowns for TSU and opponent
df2006[['TSUfirstdowns','OPPfirstdowns']]=df2006.firstdowns.str.split(expand=True)
#splitting turnovers into TSUturnovers and OPPturnovers
df2006[['TSUturnovers','OPPturnovers']]=df2006.turnovers.str.split(expand=True)
#splitting possesstime into TSUpossesstime and OPPpossesstime
df2006[['TSUpossesstime','OPPposeesstime']]=df2006.possesstime.str.split(expand=True)
#splitting TSUpenalty into TSUpenaltycount and TSUpenaltyyards
df2006[['TSUpenaltycount','TSUpenaltyyd']]=df2006.TSUpenalty.str.split(expand=True)
#splitting OPPpenalty into OPPpenaltycount and OPPpenaltyyards
df2006[['OPPpenaltycount','OPPpenaltyyd']]=df2006.OPPpenalty.str.split(expand=True)
#splitting date column into month, day, & year columns 
df2006[['month','day','year']]=df2006.date.str.split(expand=True)
df2006.drop('date',axis=1)
df2006.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,...,OPPturnovers,TSUpossesstime,OPPposeesstime,TSUpenaltycount,TSUpenaltyyd,OPPpenaltycount,OPPpenaltyyd,month,day,year
0,Sep 02 2006,19487,156,206,105,0,63,3,0.0,0,...,1,31:01,28:59,09,075,07,072,Sep,02,2006
1,Sep 09 2006,10613,111,230,102,0,76,38,3.0,23,...,5,27:51,32:09,13,093,03,015,Sep,09,2006
2,Sep 16 2006,53441,146,167,77,24,63,18,1.0,6,...,1,45:31,44:29,07,063,05,058,Sep,16,2006
3,Sep 23 2006,27460,71,181,70,0,59,25,1.0,7,...,2,31:21,28:39,07,058,01,005,Sep,23,2006
4,Sep 30 2006,57885,227,210,98,16,54,14,1.0,4,...,1,30:44,59:16,06,051,08,087,Sep,30,2006

In [40]:
#create a new date variable
#change month variable to a 2 digit string variable
df2006['month'] = df2006['month'].str.replace('Aug','08')
df2006['month'] = df2006['month'].str.replace('Sep','09')
df2006['month'] = df2006['month'].str.replace('Oct','10')
df2006['month'] = df2006['month'].str.replace('Nov','11')
df2006['month'] = df2006['month'].str.replace('Dec','12')
#merge month,day and year variables
df2006['date']=df2006['year']+ '-' +df2006['month']+ '-'+df2006['day']
#make date into a datetime variable
df2006['date']= pd.to_datetime(df2006['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2006=df2006.drop(['month','day'], axis=1)
#make year numeric
df2006['year']=pd.to_numeric(df2006['year'])
df2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 40 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               11 non-null     datetime64[ns]
 1   attendance         11 non-null     object
 2   TSUrushyards       11 non-null     object
 3   TSUreceiveyards    11 non-null     object
 4   TSUkreturnyards    11 non-null     object
 5   TSUpreturnyards    11 non-null     object
 6   TSUtackles         11 non-null     object
 7   TSUtackleyd        11 non-null     object
 8   TSUsacks           11 non-null     object
 9   TSUsackyd          11 non-null     object
 10  TSUpunt            11 non-null     object
 11  OPPrushyards       11 non-null     object
 12  OPPreceiveyards    11 non-null     object
 13  OPPkreturnyards    11 non-null     object
 14  OPPpreturnyards    11 non-null     object
 15  OPPtackles         11 non-null     object
 16  OPPtackleyd        11 non-null     object
 17  OPPsacks           11 non-null     object
 18  OPPsackyd          11 non-null     object
 19  OPPpunt            11 non-null     object
 20  firstdowns         11 non-null     object
 21  turnovers          11 non-null     object
 22  TSUthirddownconv   11 non-null     object
 23  OPPthirddownconv   11 non-null     object
 24  TSUfourthdownconv  11 non-null     object
 25  OPPfourthdownconv  11 non-null     object
 26  possesstime        11 non-null     object
 27  TSUpenalty         11 non-null     object
 28  OPPpenalty         11 non-null     object
 29  TSUfirstdowns      11 non-null     object
 30  OPPfirstdowns      11 non-null     object
 31  TSUturnovers       11 non-null     object
 32  OPPturnovers       11 non-null     object
 33  TSUpossesstime     11 non-null     object
 34  OPPposeesstime     11 non-null     object
 35  TSUpenaltycount    11 non-null     object
 36  TSUpenaltyyd       11 non-null     object
 37  OPPpenaltycount    11 non-null     object
 38  OPPpenaltyyd       11 non-null     object
 39  year               11 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(38)
memory usage: 3.6+ KB