In [3]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/108733F9-E3AE-4C3D-95EE-76C09DDBE24B/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:110:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace(",","") for a in date]
date=[a.replace(".","") for a in date]
date=[a.replace("2 ","02 ") for a in date]
date=[a.replace("9 ","09 ") for a in date]
date

['Sep 04 2010',
 'Sep 11 2010',
 'Sep 18 2010',
 'Sep 25 2010',
 'Oct 02 2010',
 'Oct 09 2010',
 'Oct 16 2010',
 'Oct 23 2010',
 'Nov 06 2010',
 'Nov 13 2010',
 'Nov 20 2010']

In [4]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:110:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance=[a.strip() for a in attendance]
attendance

['22607',
 '44688',
 '8502',
 '54202',
 '35217',
 '10316',
 '15218',
 '6739',
 '21596',
 '3141',
 '2904']

In [5]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[114:357:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards

['107', '224', '162', '304', '379', '152', '154', '158', '180', '72', '198']

In [6]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[118:360:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards

['127', '185', '225', '109', '142', '147', '65', '203', '277', '51', '289']

In [7]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[126:360:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards

['127', '133', '134', '33', '20', '90', '61', '56', '29', '116', '134']

In [8]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[130:383:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards

['36', '28', '25', '142', '13', '0', '-19', '1', '21', '2', '1']

In [9]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[414:644:22]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles

['64', '60', '57', '58', '66', '86', '66', '67', '66', '55', '65']

In [10]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[416:646:22]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd

['42', '26', '24', '60', '34', '17', '11', '24', '19', '12', '30']

In [11]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[417:646:22]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks

['7.0', '0.0', '2.0', '8.0', '5.0', '1.0', '0.0', '1.0', '1.0', '1.0', '1.0']

In [12]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[418:646:22]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd

['40', '0', '13', '48', '31', '9', '0', '4', '7', '7', '4']

In [13]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[698:900:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt

['6', '6', '3', '5', '4', '5', '8', '3', '7', '9', '5']

In [14]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt}
df2010=pd.DataFrame(list_of_dicts)
df2010.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt
0,Sep 04 2010,22607,107,127,127,36,64,42,7.0,40,6
1,Sep 11 2010,44688,224,185,133,28,60,26,0.0,0,6
2,Sep 18 2010,8502,162,225,134,25,57,24,2.0,13,3
3,Sep 25 2010,54202,304,109,33,142,58,60,8.0,48,5
4,Oct 02 2010,35217,379,142,20,13,66,34,5.0,31,4

In [15]:
#splitting date column into month, day, & year columns 
df2010[['month','day','year']]=df2010.date.str.split(expand=True)
df2010.drop('date',axis=1)
df2010.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,month,day,year
0,Sep 04 2010,22607,107,127,127,36,64,42,7.0,40,6,Sep,04,2010
1,Sep 11 2010,44688,224,185,133,28,60,26,0.0,0,6,Sep,11,2010
2,Sep 18 2010,8502,162,225,134,25,57,24,2.0,13,3,Sep,18,2010
3,Sep 25 2010,54202,304,109,33,142,58,60,8.0,48,5,Sep,25,2010
4,Oct 02 2010,35217,379,142,20,13,66,34,5.0,31,4,Oct,02,2010

In [16]:
#create a new date variable
#change month variable to a 2 digit string variable
df2010['month'] = df2010['month'].str.replace('Aug','08')
df2010['month'] = df2010['month'].str.replace('Sep','09')
df2010['month'] = df2010['month'].str.replace('Oct','10')
df2010['month'] = df2010['month'].str.replace('Nov','11')
df2010['month'] = df2010['month'].str.replace('Dec','12')
#merge month,day and year variables
df2010['date']=df2010['year']+ '-' +df2010['month']+ '-'+df2010['day']
#make date into a datetime variable
df2010['date']= pd.to_datetime(df2010['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2010=df2010.drop(['month','day'], axis=1)
#make year numeric
df2010['year']=pd.to_numeric(df2010['year'])
df2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             11 non-null     datetime64[ns]
 1   attendance       11 non-null     object
 2   TSUrushyards     11 non-null     object
 3   TSUreceiveyards  11 non-null     object
 4   TSUkreturnyards  11 non-null     object
 5   TSUpreturnyards  11 non-null     object
 6   TSUtackles       11 non-null     object
 7   TSUtackleyd      11 non-null     object
 8   TSUsacks         11 non-null     object
 9   TSUsackyd        11 non-null     object
 10  TSUpunt          11 non-null     object
 11  year             11 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 1.2+ KB