In [1]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/E018AECE-A1B8-46E7-B1B7-46FE1BCEBFB6/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:120:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace(",","") for a in date]
date=[a.replace(".","") for a in date]
date=[a.replace("7 ","07 ") for a in date]
date=[a.strip() for a in date]
date

['Aug 31 2019',
 'Sep 07 2019',
 'Sep 14 2019',
 'Sep 21 2019',
 'Sep 28 2019',
 'Oct 05 2019',
 'Oct 12 2019',
 'Oct 19 2019',
 'Nov 02 2019',
 'Nov 09 2019',
 'Nov 16 2019',
 'Nov 23 2019']

In [2]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:120:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance=[a.strip() for a in attendance]
attendance=pd.to_numeric(attendance)
attendance

array([13458, 20912, 48347,  8683,  8861, 16589,  5324, 16389,  4738,
        4131,  1776,  2728], dtype=int64)

In [3]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[124:383:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards=pd.to_numeric(TSUrushyards)
TSUrushyards

array([117, 207, 141,  71, 112, 230, 108, 116,  83,  97, 193, 198],
      dtype=int64)

In [4]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[128:383:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards=pd.to_numeric(TSUreceiveyards)
TSUreceiveyards

array([330, 259, 389, 334, 270, 240, 312, 220, 217, 209, 123, 225],
      dtype=int64)

In [5]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[136:400:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards=pd.to_numeric(TSUkreturnyards)
TSUkreturnyards

array([ 13, 108, 155,  74,  38,  56,  55,  66, 113, 162, 105,  51],
      dtype=int64)

In [6]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[140:400:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards=pd.to_numeric(TSUpreturnyards)
TSUpreturnyards

array([61,  0,  0, 15,  7,  0,  8,  0, 13, 62,  6, 25], dtype=int64)

In [7]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[447:723:23]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles=pd.to_numeric(TSUtackles)
TSUtackles

array([58, 49, 55, 65, 74, 75, 67, 60, 62, 63, 67, 79], dtype=int64)

In [8]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[449:723:23]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd=pd.to_numeric(TSUtackleyd)
TSUtackleyd

array([ 3, 13, 19, 13, 11, 13, 21, 11, 17, 46, 26, 22], dtype=int64)

In [9]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[450:723:23]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks=pd.to_numeric(TSUsacks)
TSUsacks

array([0., 1., 1., 1., 1., 1., 1., 1., 2., 2., 2., 2.])

In [10]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[451:723:23]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd=pd.to_numeric(TSUsackyd)
TSUsackyd

array([ 0,  7,  8,  3,  5,  7,  7,  0,  8, 21, 12, 14], dtype=int64)

In [11]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[767:980:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt=pd.to_numeric(TSUpunt)
TSUpunt

array([6, 5, 3, 6, 5, 3, 3, 6, 4, 3, 6, 4], dtype=int64)

In [12]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt}
df2019=pd.DataFrame(list_of_dicts)
df2019.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt
0,Aug 31 2019,13458,117,330,13,61,58,3,0.0,0,6
1,Sep 07 2019,20912,207,259,108,0,49,13,1.0,7,5
2,Sep 14 2019,48347,141,389,155,0,55,19,1.0,8,3
3,Sep 21 2019,8683,71,334,74,15,65,13,1.0,3,6
4,Sep 28 2019,8861,112,270,38,7,74,11,1.0,5,5

In [13]:
#splitting date column into month, day, & year columns 
df2019[['month','day','year']]=df2019.date.str.split(expand=True)
df2019.drop('date',axis=1)
df2019.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,month,day,year
0,Aug 31 2019,13458,117,330,13,61,58,3,0.0,0,6,Aug,31,2019
1,Sep 07 2019,20912,207,259,108,0,49,13,1.0,7,5,Sep,07,2019
2,Sep 14 2019,48347,141,389,155,0,55,19,1.0,8,3,Sep,14,2019
3,Sep 21 2019,8683,71,334,74,15,65,13,1.0,3,6,Sep,21,2019
4,Sep 28 2019,8861,112,270,38,7,74,11,1.0,5,5,Sep,28,2019

In [14]:
#create a new date variable
#change month variable to a 2 digit string variable
df2019['month'] = df2019['month'].str.replace('Aug','08')
df2019['month'] = df2019['month'].str.replace('Sep','09')
df2019['month'] = df2019['month'].str.replace('Oct','10')
df2019['month'] = df2019['month'].str.replace('Nov','11')
df2019['month'] = df2019['month'].str.replace('Dec','12')
#merge month,day and year variables
df2019['date']=df2019['year']+ '-' +df2019['month']+ '-'+df2019['day']
#make date into a datetime variable
df2019['date']= pd.to_datetime(df2019['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2019=df2019.drop(['month','day'], axis=1)
#make year numeric
df2019['year']=pd.to_numeric(df2019['year'])
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             12 non-null     datetime64[ns]
 1   attendance       12 non-null     int64
 2   TSUrushyards     12 non-null     int64
 3   TSUreceiveyards  12 non-null     int64
 4   TSUkreturnyards  12 non-null     int64
 5   TSUpreturnyards  12 non-null     int64
 6   TSUtackles       12 non-null     int64
 7   TSUtackleyd      12 non-null     int64
 8   TSUsacks         12 non-null     float64
 9   TSUsackyd        12 non-null     int64
 10  TSUpunt          12 non-null     int64
 11  year             12 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(10)
memory usage: 1.2 KB

In [16]:
#sort data
df2019=df2019.sort_values('date',ignore_index=True)
df2019.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,year
0,2019-08-31,13458,117,330,13,61,58,3,0.0,0,6,2019
1,2019-09-07,20912,207,259,108,0,49,13,1.0,7,5,2019
2,2019-09-14,48347,141,389,155,0,55,19,1.0,8,3,2019
3,2019-09-21,8683,71,334,74,15,65,13,1.0,3,6,2019
4,2019-09-28,8861,112,270,38,7,74,11,1.0,5,5,2019

In [17]:
#save data
df2019.to_csv('2019.csv',encoding='utf-8')