In [1]:
#libraries to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#python's lxml library parses xml and html files
from lxml import html

#use requests to get data from web pages
import requests 

#use requests.get() to get web page with data
page = requests.get('https://tennstate_ftp.sidearmsports.com/custompages/tsutigers/DEDBD687-051A-4E37-98F7-ACE4706B60ED/teamgbg.htm')

#parse data on web page using html module.fromstring
mytree = html.fromstring(page.content)

#go to web address above , right click on page and select inspect to get HTML code for data from right side of page
#create XPath query and use xpath function to get data
#date data
date = mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[1:110:10]
date=[a.replace("\xa0","") for a in date]
date=[a.replace(",","") for a in date]
date=[a.replace(".","") for a in date]
date

['Sep 05 2009',
 'Sep 12 2009',
 'Sep 19 2009',
 'Sep 26 2009',
 'Oct 03 2009',
 'Oct 10 2009',
 'Oct 17 2009',
 'Oct 31 2009',
 'Nov 07 2009',
 'Nov 14 2009',
 'Nov 19 2009']

In [2]:
#get attendance data
attendance=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[9:110:10]
attendance=[a.replace("\xa0","") for a in attendance]
attendance=[a.strip() for a in attendance]
attendance=pd.to_numeric(attendance)
attendance

array([23871, 43306, 12247, 51950,  6314,  7100,  5572,  7999, 22092,
        6968,  3509], dtype=int64)

In [3]:
#get TSU rushing yards
TSUrushyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[114:357:23]
TSUrushyards=[a.replace("\xa0","") for a in TSUrushyards]
TSUrushyards=pd.to_numeric(TSUrushyards)
TSUrushyards

array([ 13, 217, 169, 167, 259, 159, 169, 152,  62, 104, 176], dtype=int64)

In [4]:
#get TSU receiving yards
TSUreceiveyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[118:360:23]
TSUreceiveyards=[a.replace("\xa0","") for a in TSUreceiveyards]
TSUreceiveyards=pd.to_numeric(TSUreceiveyards)
TSUreceiveyards

array([178,  43,  86, 107,  95, 124,  68, 128, 207, 189, 135], dtype=int64)

In [5]:
#get TSU kick return yards
TSUkreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[126:360:23]
TSUkreturnyards=[a.replace("\xa0","") for a in TSUkreturnyards]
TSUkreturnyards=pd.to_numeric(TSUkreturnyards)
TSUkreturnyards

array([46, 19, 75, 95, 72, 81, 64, 78, 97, 60, 55], dtype=int64)

In [6]:
#get TSU punt return yards
TSUpreturnyards=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[130:383:23]
TSUpreturnyards=[a.replace("\xa0","") for a in TSUpreturnyards]
TSUpreturnyards=pd.to_numeric(TSUpreturnyards)
TSUpreturnyards

array([ 0, 20, 13,  2, 30, 24,  5,  7,  7,  2, -4], dtype=int64)

In [7]:
#get TSU total tackles
TSUtackles=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[414:644:22]
TSUtackles=[a.replace("\xa0","") for a in TSUtackles]
TSUtackles=pd.to_numeric(TSUtackles)
TSUtackles

array([71, 60, 81, 63, 58, 52, 69, 56, 83, 73, 47], dtype=int64)

In [8]:
#get TSU tackle yards
TSUtackleyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[416:646:22]
TSUtackleyd=[a.replace("\xa0","") for a in TSUtackleyd]
TSUtackleyd=pd.to_numeric(TSUtackleyd)
TSUtackleyd

array([18, 42, 28, 14, 20, 24, 21, 35,  9,  6, 19], dtype=int64)

In [9]:
#get TSU sacks
TSUsacks=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[417:646:22]
TSUsacks=[a.replace("\xa0","") for a in TSUsacks]
TSUsacks=pd.to_numeric(TSUsacks)
TSUsacks

array([1, 3, 3, 1, 3, 3, 2, 2, 0, 0, 2], dtype=int64)

In [10]:
#get TSU sack yards
TSUsackyd=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[418:646:22]
TSUsackyd=[a.replace("\xa0","") for a in TSUsackyd]
TSUsackyd=pd.to_numeric(TSUsackyd)
TSUsackyd

array([ 7, 26, 15,  5, 15, 14, 12, 18,  0,  0, 11], dtype=int64)

In [11]:
#TSU punts
TSUpunt=mytree.xpath('body/center//tr/td/font[@color="#000000"]/text()')[698:900:19]
TSUpunt=[a.replace("\xa0","") for a in TSUpunt]
TSUpunt=pd.to_numeric(TSUpunt)
TSUpunt

array([6, 9, 8, 6, 5, 8, 6, 7, 7, 8, 8], dtype=int64)

In [12]:
#create data frame
#change dictionary of lists to data frame
list_of_dicts={'date':date,
     'attendance':attendance,
     'TSUrushyards':TSUrushyards,
     'TSUreceiveyards':TSUreceiveyards,
     'TSUkreturnyards':TSUkreturnyards,
     'TSUpreturnyards':TSUpreturnyards,
     'TSUtackles':TSUtackles,
     'TSUtackleyd':TSUtackleyd,
     'TSUsacks':TSUsacks,
     'TSUsackyd':TSUsackyd,
     'TSUpunt':TSUpunt}
df2009=pd.DataFrame(list_of_dicts)
df2009.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt
0,Sep 05 2009,23871,13,178,46,0,71,18,1,7,6
1,Sep 12 2009,43306,217,43,19,20,60,42,3,26,9
2,Sep 19 2009,12247,169,86,75,13,81,28,3,15,8
3,Sep 26 2009,51950,167,107,95,2,63,14,1,5,6
4,Oct 03 2009,6314,259,95,72,30,58,20,3,15,5

In [13]:
#splitting date column into month, day, & year columns 
df2009[['month','day','year']]=df2009.date.str.split(expand=True)
df2009.drop('date',axis=1)
df2009.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,month,day,year
0,Sep 05 2009,23871,13,178,46,0,71,18,1,7,6,Sep,05,2009
1,Sep 12 2009,43306,217,43,19,20,60,42,3,26,9,Sep,12,2009
2,Sep 19 2009,12247,169,86,75,13,81,28,3,15,8,Sep,19,2009
3,Sep 26 2009,51950,167,107,95,2,63,14,1,5,6,Sep,26,2009
4,Oct 03 2009,6314,259,95,72,30,58,20,3,15,5,Oct,03,2009

In [14]:
#create a new date variable
#change month variable to a 2 digit string variable
df2009['month'] = df2009['month'].str.replace('Aug','08')
df2009['month'] = df2009['month'].str.replace('Sep','09')
df2009['month'] = df2009['month'].str.replace('Oct','10')
df2009['month'] = df2009['month'].str.replace('Nov','11')
df2009['month'] = df2009['month'].str.replace('Dec','12')
#merge month,day and year variables
df2009['date']=df2009['year']+ '-' +df2009['month']+ '-'+df2009['day']
#make date into a datetime variable
df2009['date']= pd.to_datetime(df2009['date'], format='%Y-%m-%d')
#drop individual month,day, variables (keep year variable for later analysis)
df2009=df2009.drop(['month','day'], axis=1)
#make year numeric
df2009['year']=pd.to_numeric(df2009['year'])
df2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             11 non-null     datetime64[ns]
 1   attendance       11 non-null     int64
 2   TSUrushyards     11 non-null     int64
 3   TSUreceiveyards  11 non-null     int64
 4   TSUkreturnyards  11 non-null     int64
 5   TSUpreturnyards  11 non-null     int64
 6   TSUtackles       11 non-null     int64
 7   TSUtackleyd      11 non-null     int64
 8   TSUsacks         11 non-null     int64
 9   TSUsackyd        11 non-null     int64
 10  TSUpunt          11 non-null     int64
 11  year             11 non-null     int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 1.2 KB

In [15]:
#sort data
df2009=df2009.sort_values('date',ignore_index=True)
df2009.head()

,date,attendance,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,year
0,2009-09-05,23871,13,178,46,0,71,18,1,7,6,2009
1,2009-09-12,43306,217,43,19,20,60,42,3,26,9,2009
2,2009-09-19,12247,169,86,75,13,81,28,3,15,8,2009
3,2009-09-26,51950,167,107,95,2,63,14,1,5,6,2009
4,2009-10-03,6314,259,95,72,30,58,20,3,15,5,2009

In [17]:
#save data
df2009.to_csv('2009.csv',encoding='utf-8')